.item {
  padding: 30px 95px 30px 35px;
  margin-top: 20px;
  border: 1px solid #9497a1;
  border-radius: 6px;

  &:first-child {
    margin-top: 0;
  }

  @include sm-down {
    padding: 20px 50px 20px 15px;
  }
}

.active {
  .item-title::before {
    transform: rotate(0deg);
  }

  .item-title::after {
    background-color: #185cff;
  }

  .item-title {
    color: #185cff;
  }

  .item-text {
    display: block;
    margin-top: 25px;

    &:first-of-type {
      margin-top: 15px;
    }
  }
}

.item-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 700;
  color: #292d33;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    right: 10px;
    bottom: 50%;
    width: 18px;
    height: 2px;
    content: '';
    background-color: #292d33;
    transition: all 0.3s ease 0s;

    @include sm-down {
      right: -30px;
    }
  }

  &::before {
    transform: rotate(90deg);
  }

  &::after {
    transform: rotate(0deg);
  }

  @include sm-down {
    font-size: 16px;
  }
}

.item-text {
  display: none;
  margin-top: 10px;
  margin-bottom: 0;
  white-space: pre-wrap;

  @include sm-down {
    font-size: 14px;
  }
}
