// Colors
$color-primary: #9497a1;
$color-secondary: '';
$color-tertiary: '';

$color-accent-primary: '';
$color-accent-secondary: '';

$color-primary-hover: '';
$color-accent-primary-hover: '';
$color-accent-secondary-hover: '';

// Fonts
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;

$font-size-base: 20px;
$line-height-base: 1.65;

$font-size-xxl: 46px;
$line-height-xxl: 1.3;

$font-size-xl: '';
$line-height-xl: '';

$font-size-lg: '';
$line-height-lg: '';

$font-size-md: '';
$line-height-md: '';

$font-size-sm: '';
$line-height-sm: '';

$font-size-xs: '';
$line-height-xs: '';

// Animate
$transition-base: 0.2s;

// Breakpoints
$breakpoint-lg-down: 1280px - 0.02px;
$breakpoint-md-down: 1024px - 0.02px;
$breakpoint-sm-down: 768px - 0.02px;
$breakpoint-xs-down: 414px - 0.02px;
